accelerate==0.20.3
numpy==1.26.3
decorator
huggingface-hub==0.24.2
matplotlib==3.7.0
open_clip_torch==2.26.1
pandas
pillow==10.1.0
pyyaml==6.0
regex==2022.10.31
tabulate==0.9.0
tokenizers==0.20.3
torchvision==0.24.0
torchaudio==2.9.0
tqdm==4.64.1
transformers==4.46.2
imagesize==1.4.1
sentencepiece==0.2.0
librosa==0.10.2.post1
requests==2.31.0
av==13.1.0
